/* your styles go here */

@media (min-width: 768px) {

  .how-it-works__title {
    margin: 0;
    margin-bottom: 55px;
    margin-left: -15px; 
  }

  .how-it-works__text-container {
    position: relative;
  }

  .how-it-works__text-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border: 0.9px dashed #5546FF;
    border-spacing: 2px;
    height: 100%;
  }

  .how-it-works__text-container::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    border: 0.9px dashed #5546FF;
    border-spacing: 2px;
    width: 100%;
  }

  .how-it-works__info__left {
    padding: 47px 79px 31px 0px;
  }

  .how-it-works__info__right {
    padding: 47px 0px 31px 79px;
  }

  .how-it-works__subtitle-number {
    margin: 0;
    margin-bottom: 8px;
  }

  .how-it-works__subtitle {
    margin: 0;
    margin-bottom: 16px;
  }

}