/* your styles go here */

/* Common */

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  padding: 60px 0 60px;
}

.bg-center {
  margin-bottom: 0;
}

.btn {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.9rem;
  font-weight: normal;
}

/* Navbar */

.navbar, 
.navbar.active {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

/* About */

.device-wrapper {
  max-width: 240px;
}

.device[data-device="Pixel"][data-orientation="portrait"][data-color="white"] .screen {
  top: 9.55%;
  left: 4.3668122271%;
  width: 91%;
  height: 80%;
}

/* How it works */

.stacks-metaverse {
  max-width: 500px;
}

/* FAQs */

@media (min-width: 768px) {
  .how-it-works__text-container {
    position: relative;
    background-image: url('../img/dashed_background.svg');
    background-position: center 55%;
    background-size: cover;
  }
}

/* Footer */

footer {
  font-size: 16px;
  line-height: 23px;
}